@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
         <link href=@Url.Content("../../Content/Shelves.css")  rel="stylesheet" type="text/css" />
        <script src=@Url.Content("../../Scripts/qsm-mui/zepto-1.1.4.min.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/fx.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/zepto.selector.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/zepto.touch.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/json2.js") type="text/javascript"></script>
        <link href="../../Content/Header.css" rel="stylesheet" type="text/css" />
        <style>
            p.detail-title {
                padding: 10px;
            }
            btn-dbuy1 span{
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 5px;
                /* background: url(../../../Content/images/icon_detail.png) -74px 0 no-repeat; */
                background-size: 100px 100px;
                vertical-align: -2px;
            }
        </style>
        <script>
            /*expressNo  expressCompany  expressor  expressPhone*/
            $('#btnComplate').bind($.clickAction, function () {
                var shiper = {};
                shiper.ExpressNo = $('#expressNo').val();
                shiper.ExpressCompany = $('#expressCompany').val();
                shiper.Expressor = $('#expressor').val();
                shiper.ExpressPhone = $('#expressPhone').val();
                shiper.OrderId = $('#orderId').val();
                $.ajax({
                    url: '/DeliverGoods/SetDeliver',
                    type: 'post',
                    data: { data: JSON.stringify(data) },
                    success: function () {
                        alert("上架成功！");
                        window.location.reload();
                    },
                    error: function () {
                        alert("上架失败")
                    }
                });
            });
        </script>
</head>
<body>
   @Html.Partial("_HeaderTypical", new ViewDataDictionary { { "title", "发货订单" } })
      <div id="wrapper">
	        <div id="scroller" class="bt-category">
            
                    
                <ul style="padding-bottom:32px">
                  
                    @{
                        var shiperInfo = @ViewData["ShiperInfo"] as DataModel.Order.OrderShiperDto;
                        <li id="tupianLi" class="info-detail">
                            <div class="info">
                                <a id="tupiankuId" href="#">
                                    <span class="text" style="color:Black">订单号:@shiperInfo.OrderId</span>
                                    <input type="hidden" id="orderId" value="@shiperInfo.OrderId"/>
                                </a>
                            </div>
                  
                        </li>
                        <li class="bg-skape"></li>
                        <li>
                            <div class="info">
                                <div class="info splitLine">
                                <a href="javascript:void(0)" style="padding-left:0px">
                                    <span class="text" style="color: #333;">收货人信息</span>
                                </a>
                            </div>
                                <p class="detail-title" >客户名称<span>@shiperInfo.ShiperName </span></p>
                                <p class="detail-title" >客户电话<span>@shiperInfo.ShiperPhone </span></p>
                                <p class="detail-title" >送货地址<span>@shiperInfo.Address </span></p>
                                 <p class="detail-title" >送货日期<span>@shiperInfo.ShiperDate</span></p>
                            </div>
                        </li>
                    }
                    <li class="bg-skape"></li>  
                    @{
                        var DeliverGoods = ViewData["DeliverGoods"] as List<DataModel.DeliverGoods.DeliverOrderGoods>;
                        foreach (var item in DeliverGoods)
                        {
                        
                        <li class="info-detail selector">
                                                                                                                                                                                                                                    <div class="info border-b-none">
                            <a class="btn-switch on" href="javascript:void(0)">
				                <span class="s-block">
                                    <span class="title12">商品名称：@item.Description</span>
                               @*     <span class="content"><span class="to-text3" id="sh-color" >尺码：@item.Size 颜色：@item.Color</span></span>
                                    <span class="icon-arr"></span>*@
                                </span>
                            </a>
                            <div class="detail-option" style="display:block">
                                    <div class="info splitLine">
                                    <a href="javascript:void(0)" style="padding-bottom: 10px;padding-top: 10px;">
                                        <span class="text">尺码</span>
                                        <label style="width: 70%;line-height: 25px;margin-left: 20px;">@item.Size</label>

                                    </a>
                                
                                    </div>
                                    <div class="info splitLine">
                                    <a href="javascript:void(0)" style="padding-bottom: 10px;padding-top: 10px;">
                                        <span class="text">颜色</span>
                                        <label style="width: 70%;line-height: 25px;margin-left: 20px;">@item.Color</label>

                                    </a>
                                
                                    </div>
                            </div>
                        </li>
                        <li class="bg-skape"></li>      
                        }
                    }

                    <li class="info-detail selector">
                                                                                                                                                                                                                                <div class="info border-b-none">
                        <a class="btn-switch on" href="javascript:void(0)"  >
				            <span class="s-block">
                                <span class="title12">发货信息</span>
                                <span class="content"><span class="to-text3" id="sh-color"></span></span>
                                <span class="icon-arr"></span>
                            </span>
                        </a>
                        <div class="detail-option" style="display:block">
                                <div class="info splitLine">
                                    <a href="javascript:void(0)" style="padding-bottom: 10px;padding-top: 10px;">
                                        <span class="text">快递单号</span>
                                        <input type="text" id="expressNo"  style="width: 60%;line-height: 25px;margin-left: 20px;"/>
                                    </a>
                                     <a href="javascript:void(0)" style="padding-bottom: 10px;padding-top: 10px;">
                                        <span class="text">快递公司</span>
                                        <input type="text" id="expressCompany"  style="width: 60%;line-height: 25px;margin-left: 20px;"/>
                                    </a>
                                     <a href="javascript:void(0)" style="padding-bottom: 10px;padding-top: 10px;">
                                        <span class="text">&nbsp;快递员&nbsp;&nbsp;</span>
                                        <input type="text" id="expressor"  style="width: 60%;line-height: 25px;margin-left: 20px;"/>
                                    </a>
                                     <a href="javascript:void(0)" style="padding-bottom: 10px;padding-top: 10px;">
                                        <span class="text">联系电话</span>
                                        <input type="text" id="expressPhone"  style="width: 60%;line-height: 25px;margin-left: 20px;"/>
                                    </a>
                                </div>
                                
                                </div>
                        </div>
                    </li>
                  
                </ul>

            </div>
            <div class="tbl-type btns">
                <div class="tbl-cell">                    
                <a id="btnComplate" class="btn-dbuy1"><span></span>完成</a>
                </div>
            </div>
        </div>
</body>
</html>
