@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <script src="../../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto-1.1.4.min.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>
        <link href="../../Content/mobile/order.css?r=1" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            function confirmDel(id) {
                if (confirm("确认要删除吗")) {
                    debugger
                    $('#delHref' + id).click();
                }else{
                    alert(1);
                }
               
            }
            $(document).ready(function () {
                $('.i-a-bh').on('click', function () {
                    var tg = $('.i-bh-tab');
                    if (tg.hasClass('on')) {
                        tg.removeClass('on');
                    }
                    else {
                        tg.addClass('on');
                    }
                });
                $('.btn-chk').on('click',function(){debugger
                   var target= $(this);
                   if(target.hasClass('on')){
                       target.removeClass('on');
                   }else{
                       target.addClass('on');
                   }
                })
               
            });
        </script>
    </head>
    <body>
        <a name="top"></a>
        <header>
            <div class='i-bh-header'>
                <a href="javascript:void(0);" class="i-a-back"><span>返回</span></a>
                <h2>收货地址</h2>
                <a href="javascript:void(0);" class="i-a-bh"><span>易购键</span></a>
            </div>
            <div class='i-bh-tab'>
                <div class='i-tbl-type'>
                    <a href='#' class='i-tbl-cell'>
                        <span></span>
                        <p style='color:#6e6e6e;'>首页</p>
                    </a>
                    <a href='#' class='i-tbl-cell'>
                        <span style='width:26px;background-position:0 -25px;'></span>
                        <p style='color:#6e6e6e;'>分类搜索</p>
                    </a>
                    <a href='#' class='i-tbl-cell'>
                        <span style='width:25px;background-position:-29px -25px'></span>
                        <p style='color:#6e6e6e;'>购物车</p>
                    </a>
                    <a href='#' class='i-tbl-cell'>
                        <span style='width:22px;background-position:-85px -25px'></span>
                        <p style='color:#6e6e6e;'>我的易购</p>
                    </a>
                </div>
            </div>
        </header>
        <div class='i-bd' style='width:100%'>
           <slidercontent>
<div class="err_msg" id="errorMessage" style="display:block;color:red;margin-top:0.5em;margin-left:0.5em"></div>	
<div class="new-ct">
    <form action="/Order/UpdateOrderAddress" method="post" id="addressForm">
    	
    	<div class="addr-add">
        	<a href="/User/EditAddress?Id=-1" class="btn-addr">+添加收货地址</a>
        </div>
    	
    	<div class="err_msg" id="errorMessage" style="display:block;color:red;margin-bottom:0.5em;margin-top:0.5em;"></div>	
               @{
                var list = (List<DataModel.Order.CustomerAddress>)ViewData["listAddress"];
                if (list != null && list.Count > 0)
                {
                    foreach (DataModel.Order.CustomerAddress item in list)
                    {
                        var on = @item.Default == true ? "on" : "";
                        var delhref = "delHref" + item.Id;
                        <div class="addr-info">
        	                <div class="addr-border">
            	                <div class="pd-tb10">
                                    <p>@item.Shipper<span>&nbsp; @item.ShipperPhone</span></p>
                                    <p class="text-f14-c6">@item.DetailAddress</p>
                                </div>
                                <div class="bg-border3"></div>
                                <div class="addr-btn">
                	                <span class="tbl-type">
                    	                <span class="tbl-cell" onmousedown="keyDown(@item.Id)">
                        	                <!-- [D] 被选中状态时加 on -->
                        	                <a href="javascript:void(0)" class="btn-chk @on" name="selSpan" id="selSpan-1" style="width:100%"><span></span>送到这里去</a>
                                        </span>
                                        <span class="tbl-cell text-right">
                        	                <a href="/User/EditAddress?Id=@item.Id" class="btn-update"><span></span>修改</a>
                                            <a href='javascript:confirmDel("@item.Id")' class="btn-del"><span></span>删除</a>
                                            <a id="@delhref" href="/User/DelAddress?Id=@item.Id" style="display:none"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                }
             }
        	<input type="hidden" name="vtuanOrder" value="false">
            <input type="hidden" id="addressId" name="addressId" value="">
    </form>
</div>

	</slidercontent>
        </div>
        <footer>
            <div class='i-footer'>
                <div class='i-f-login'>
                    <a rel="nofollow" href='#'>tyrone</a>
                    <span class="i-bar2">|</span>
                    <a rel="nofollow" href="#">退出</a>
                    <span class="i-back-top">
                        <a href="javascript:void(0);">反馈</a>
                        <span class="i-bar2">|</span>
                        <a href="#top">回到顶部</a>
                    </span>
                </div>
                <div class="i-f-section">
                    <a href="#">标准版</a>
                    <a href="#" class="on">触屏版</a>
                    <a href="#" id="toPcHome">电脑版</a>
                </div>
                <div class="i-f-section2">Copyright © 2014-2015 baoth.com 版权所有</div>
            </div>
        </footer>
    </body>

</html>
