@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link href="../../Content/Header.css" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("../../Scripts/qsm-mui/zepto-1.1.4.min.js")" type="text/javascript" ></script>
        <script src="../../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>
        <script src="../../Scripts/cookie.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                initCourier();
                initInvoice();
                initPay();
                initDelivery();
                initAddress();
                initGoodListing();
            });

            function submitOrder() {
                //提交
                var payType = $('#pay').data('paytype'); //支付方式
                var delType = $('#delivery').data('deltype'); //发货方式
                var addressDetail = $('#address').data('address-detail-id'); //收货人地址
                var shiperType = $('#courier').data('send'); //配送方式
                var isPhone = $('#courier').data('phonetype');
                var title = $('#invoice').data('title');
                var content = $('#invoice').data('content');
                var orgName = $('#invoice').data('company');
                $.ajax({
                    url: '/Order/SubmitOrder',
                    data: {
                        SendDateIndex: shiperType,
                        PhoneConfirm: isPhone,
                        AddressId: addressDetail,
                        InvoiceTitleType: title,
                        InvoiceContentType: content,
                        InvoiceCompany: orgName,
                        PayType: payType,
                        DeliveryType: delType
                    },
                    type: 'post',
                    success: function (action, response) {

                        //  var msg = action.IsSuccess?action.Msg"
                        if (action.IsSuccess) {
                            var order=
                            if (payType == 1) {
                                //alert("提交订单成功");
                                window.location = window.location.origin + "/Order/successSubmit?orderId=";
                            } else {
                                window.location = window.location.origin + "/WeixinPay/Index?orderId=";
                            }
                        } else {
                            /*页面跳转支付*/
                            alert(action.Msg);

                        }
                    }
                });
            }
            function initCourier() {
                
                if (window.sessionStorage.courierDate == undefined || window.sessionStorage.courierDate == '') {

                    var d = new Date().DateAdd('d', 1).Format('YYYY-M-D'); // getcookie("order_courierDate") || 
                    window.sessionStorage.courierDate = d;

                } else {
                   // setcookie("order_courierDate", window.sessionStorage.courierDate);
                }
                var defaultDate = new Date().StringToDate(window.sessionStorage.courierDate);
                if (window.sessionStorage.courierTimeSect == undefined || window.sessionStorage.courierTimeSect == '') {
                    var d = '9:00-15:00'; //getcookie("order_courierTimeSect") || 
                    
                    window.sessionStorage.courierTimeSect = d;

                } else {
                    
                    setcookie("order_courierDate", window.sessionStorage.courierTimeSect);
                }
                var defaultTimeSect = window.sessionStorage.courierTimeSect;

                if (window.sessionStorage.courierSend == undefined || window.sessionStorage.courierSend == 'undefined' || window.sessionStorage.courierSend == '') {
                    var d = '1'; // getcookie("order_courierSendt") || 
                    window.sessionStorage.courierSend = d;
                  
                } else {
                    setcookie("order_courierSendt", window.sessionStorage.courierSend);
                }
                var TimeIndex = window.sessionStorage.courierTimeType || 1;
                var PhoneIndex = window.sessionStorage.courierPoneType || 1;
                $('#courier').data('date', defaultDate.Format('YYYY-M-D')).data('tsect', defaultTimeSect)
                             .data('phonetype', PhoneIndex).data('timetype', TimeIndex)
                             .data('send',window.sessionStorage.courierSend)
                             .text(defaultDate.Format('YYYY-M-D (周W) ') + defaultTimeSect);
                $('#courier').on($.clickAction, function () {
                    
                    window.sessionStorage.courierDate = $(this).data('date');
                    window.sessionStorage.courierTimeSect = $(this).data('tsect');
                    window.sessionStorage.courierPoneType = $(this).data('phonetype');
                    window.sessionStorage.courierTimeType = $(this).data('timetype');
                    $(this).parent('a').trigger($.clickAction);
                });
            };
            function initInvoice() {
                if (window.sessionStorage.invoiceTitle == undefined || window.sessionStorage.invoiceTitle == '') {

                    var d =unescape(getcookie("order_invoiceTitle")) || '1';
                    window.sessionStorage.invoiceTitle = d;

                } else {
                    setcookie("order_invoiceTitle", window.sessionStorage.invoiceTitle);
                }
                if (window.sessionStorage.invoiceContent == undefined || window.sessionStorage.invoiceContent == '') {
                    var d = getcookie("order_invoiceContent") || '1';
                    window.sessionStorage.invoiceContent = '1';
                   
                } else {
                   setcookie("order_invoiceContent", window.sessionStorage.invoiceContent);
                }
                if (window.sessionStorage.invoiceCompany == undefined) {
                    var d = unescape(getcookie("order_invoiceCompany")) || '';
                    window.sessionStorage.invoiceCompany =d;
                } else {
                    setcookie("order_invoiceCompany", window.sessionStorage.invoiceCompany);
                }
                $('#invoice').data('title', window.sessionStorage.invoiceTitle)
                             .data('company', window.sessionStorage.invoiceCompany)
                             .data('content', window.sessionStorage.invoiceContent)
                             .text('普通发票');
                $('#invoice').on($.clickAction, function () {
                    window.sessionStorage.invoiceTitle = $(this).data('title');
                    window.sessionStorage.invoiceContent = $(this).data('content');
                    $(this).parent('a').trigger($.clickAction);
                });
            };
            function initPay() {
                if (window.sessionStorage.payType == undefined || window.sessionStorage.payType == '') {
                    var d = getcookie("order_payType") || '1';
                    window.sessionStorage.payType = d;
                 
                } else {
                    setcookie("order_payType", window.sessionStorage.payType);
                }
                if (window.sessionStorage.payText == undefined || window.sessionStorage.payText == '') {
                    var d = unescape(getcookie("order_payText")) || '线下支付';
                    window.sessionStorage.payText =d;
                } else {
                    setcookie("order_payText",unescape(window.sessionStorage.payText));
                }
                $('#pay').data('paytype', window.sessionStorage.payType)
                         .text(window.sessionStorage.payText);
                $('#pay').on($.clickAction, function () {
                    
                    window.sessionStorage.payType = $(this).data('paytype');
                    window.sessionStorage.payText = $(this).text();
                    $(this).parent('a').trigger($.clickAction);
                });
            };/*cookie*/
            function initDelivery() {
                if (window.sessionStorage.DeliveryType == undefined || window.sessionStorage.DeliveryType == '') {
                    var d = getcookie("order_DeliveryType") || '1';
                    window.sessionStorage.DeliveryType =d;
                } else {
                    setcookie("order_DeliveryType", window.sessionStorage.DeliveryType);
                }
                if (window.sessionStorage.DeliveryText == undefined || window.sessionStorage.DeliveryText == '') {
                    var d =unescape(getcookie("order_DeliveryText")) || '门店自提';
                    window.sessionStorage.DeliveryText =d;
                } else {
                    setcookie("order_DeliveryText", window.sessionStorage.DeliveryText);
                }
                
                $('#delivery').data('deltype', window.sessionStorage.DeliveryType)
                         .text(window.sessionStorage.DeliveryText);
                $('#delivery').on($.clickAction, function () {
                    
                    window.sessionStorage.DeliveryType = $(this).data('deltype');
                    window.sessionStorage.DeliveryText = $(this).text();
                    $(this).parent('a').trigger($.clickAction);
                });
                if (window.sessionStorage.DeliveryType == '1') {
                    $('.address').hide();
                    $('.courier').hide();
                }
                else {
                    $('.address').show();
                    $('.courier').show();
                }
            };
            function initGoodListing() {
                window.sessionStorage.GoodListing = ['111-111-11', '22a-2222d-22'];
                if (window.sessionStorage.GoodListing == undefined || window.sessionStorage.GoodListing.length == 0) {
                    $('#goodlisting').data('list', '');
                    $('.goodlisting').hide();
                }
                else {
                    
                    $('#goodlisting').data('list', window.sessionStorage.GoodListing);
                    $('.goodlisting').show();
                }
            };
            function initAddress() {
                window.sessionStorage.backurl = document.URL;
                if (!window.sessionStorage.addressDetailId) {
                    var d = " "; //getcookie("order_shiperNameId") ||
                    var d1 = "选择收货人"; // getcookie("order_phoneNumId") || 
                    var d2 = ""; //getcookie("order_addressDetailId") ||
                    $('#shiperNameId').text(d);
                    $('#phoneNumId').text(d1);
                    $('#addressDetailId').text(d2);
                }
                else {
                    $('#shiperNameId').text(window.sessionStorage.shiperName);
//                    setcookie("order_shiperNameId", window.sessionStorage.shiperName)
                    $('#phoneNumId').text(window.sessionStorage.phoneNum);
//                    setcookie("order_phoneNumId", window.sessionStorage.phoneNum)
                    $('#addressDetailId').text(window.sessionStorage.addressDetail);
//                    setcookie("order_addressDetailId", window.sessionStorage.addressDetail)
                    var href = $('#address').attr('href');
                    $('#address').attr('href', href + "?Id=" + window.sessionStorage.addressDetailId);
                    $('#address').data('addressDetailId', window.sessionStorage.addressDetailId);
                }
            }
        </script>
        <style type="text/css">
            .new-ct 
            {
                min-height: 300px;
                background-color: #fff;
            }
            .title 
            {
                padding: 13px 10px 7px;
                border-bottom: 1px solid #c8c7cc;
                background: #f1f1f5;
                font-size: 14px;
                color: #666;
            }
            .info 
            {
                position: relative;
                border-bottom: 1px solid #c8c7cc;
            }
            .info a 
            {
                display: block;
                padding: 13px 30px 12px 10px;
                color: #000;
                text-decoration: none;
            }
            .info a::after
            {
            	content:'';
            	font-family:icons!important;
                position:absolute;
                top:30%;
                right:10px;
            }
            .info .text 
            {
                display: block;
                font-size: 16px;
                color: #333;
            }
            .info .text2 
            {
                display: block;
                overflow: hidden;
                padding-top: 3px;
                font-size: 14px;
                color: #666;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .info .text3 
            {
                margin-left: 20px;
                font-size: 14px;
                color: #666;
            }
            .total 
            {
                padding: 15px 0;
                font-size: 14px;
                color: #333;
            }
            .bg-border 
            {
                display: block;
                position: relative;
                height: 2px;
                background: url(../Content/images/bg_line2.png) 0 0 repeat-x;
                background-size: 6px 1px;
            }
            .bg-border .bg-sz 
            {
                position: absolute;
                top: -8px;
                right: 10px;
                width: 30px;
                height: 20px;
                background: url(../Content/images/icon_order.png) -17px 0 no-repeat;
                background-size: 100px 100px;
            }
            .total-count 
            {
                padding: 10px 30px;
            }
            .tbl-type 
            {
                display: table;
                width: 100%;
            }
            .tbl-cell 
            {
                display: table-cell;
            }
            .text-right 
            {
                text-align: right;
            }
            .bg-border2 
            {
                display: block;
                height: 7px;
                background: url(../Content/images/bg_line.png) 0 0 repeat-x;
                background-size: 10px 7px;
            }
            .mgn 
            {
                margin: 15px 10px;
            }
            .new-abtn-type
            {
                display: block;
                padding: 8px;
                border-radius: 2px;
                background-color: #c00;
                font-size: 14px;
                color: #fff;
                text-align: center;
            }
        </style>
    </head>
    <body>
        @Html.Partial("_HeaderTypical", new ViewDataDictionary { { "title", "填写订单" } })
        <div class='i-bd' style='width:100%'>
            <form>
                <div class='new-ct' style='width:100%;height:100%;float:left;'>
                    
                    <div class='title pay'>支付方式</div>
                    <div class='info pay'>
                        <a href='/order/pay'>
                            <span id='pay' class='text' data-paytype=''></span>
                        </a>
                    </div>
                    <div class='title delivery'>发货方式</div>
                    <div class='info delivery'>
                        <a href='/order/delivery'>
                            <span id='delivery' class='text' data-deltype=''></span>
                        </a>
                    </div>
                    <div class='title address'>收货人信息</div>
                    <div class='info address'>
                        <a id='address' href="/user/address">
                            <span class='text'><label id="shiperNameId">李彬</label> <span class="phone-num" id="phoneNumId" style="margin-left:5px;">18513603719</span>
                            <span class='text2' id="addressDetailId">北京朝阳区三环到四环之间北京市朝阳区建外街道sohu现代城5号楼1907室</span>
                        </a>
                    </div>
                    <div class='title courier'>配送方式</div>
                    <div class='info courier'>
                        <a href='/order/courier'>送货时间
                            <span id='courier' class='text3' data-date='' data-tsect='' data-timetype='' data-phonetype='' data-send=''></span>
                        </a>
                    </div>
                    <div class='title invoice'>发票信息</div>
                    <div class='info invoice'>
                        <a href='/order/invoice'>
                            <span id='invoice' class='text' data-title='' data-content=''></span>
                        </a>
                    </div>
                    <div class='title goodlisting'>商品清单</div>
                    <div class='info goodlisting'>
                        <a href='/order/goodlisting'>
                            <span id='goodlisting' class='text' data-list=''>清单详情</span>
                        </a>
                    </div>
                    <div class='total'>
                        <span class='bg-border'>
                            <span class='bg-sz'></span>
                        </span>
                        <div class='total-count'>
                            <div class='tbl-type'>
                                <span class='tbl-cell'>商品金额</span>
                                <span class='tbl-cell text-right'>@ViewData["Money"]</span>
                            </div>
                            <div class='tbl-type'>
                                <span class='tbl-cell'>运&nbsp;&nbsp;&nbsp;&nbsp;费</span>
                                <span class='tbl-cell text-right'>@ViewData["Fee"]</span>
                            </div>
                            <div class='tbl-type'>
                                <span class='tbl-cell'>应付金额</span>
                                <span class='tbl-cell text-right' style='color: #c00;'>@ViewData["Total"]</span>
                            </div>
                        </div>
                        <span class='bg-border2'></span>
                    </div>
                    <span onclick="submitOrder()" id="submiOrder" class="new-abtn-type mgn">提交订单</span>
                </div>
            </form>
        </div>
        @Html.Partial("_FooterTypical")
    </body>

</html>
