@{
    Layout = null;
}
<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
         <link href=@Url.Content("../../Content/Shelves.css")  rel="stylesheet" type="text/css" />
        <script src=@Url.Content("../../Scripts/qsm-mui/iscroll.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/zepto-1.1.4.min.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/fx.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/zepto.selector.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/zepto.touch.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/json2.js") type="text/javascript"></script>
        <script type="text/javascript">
            var myScroll;
            $(document).ready(function () {
                $("#wrapper").css('top', $("header").height());
                myScroll = new IScroll('#wrapper', { mouseWheel: true });
                document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
                $(".bt-category-lst .bt-category-a").on($.clickAction, function () {
                    debugger
                    var $el = $(this);
                    if (!$el.hasClass("bt-on")) {
                        //先隐藏其他列 
                        $(".bt-category-lst .bt-category-a.bt-on").removeClass("bt-on").siblings().hide();
                        $el.addClass("bt-on").siblings().show();
                    }
                    else {
                        $el.removeClass("bt-on").siblings().hide();
                    }
                    myScroll.refresh();
                });
                $('.btn-switch').on($.clickAction, function () {
                    debugger
                    var me = $(this);
                    var refId = me.attr('refId');
                    if (me.hasClass('on')) {
                        me.removeClass('on');
                        $('#' + refId).hide();
                    }
                    else {
                        me.addClass('on');
                        $('#' + refId).show();
                    }
                });
                $('li .btn-shangjia').on($.clickAction, function () {
                    debugger
                    /*描述*/
                    var desc = $('#titleDescId').val();
                    /*sku*/
                    var sku = $(this).attr('sku');
                    /*价格*/
                    var id = "p-" + sku;
                    var price = $('#' + id).val();
                    if (!price) {
                        var errorMsg = $(this).attr("errormsg");
                        alert("请填写" + errorMsg + "的上架价格！");
                        return;
                    }
                    $.ajax({
                        url: '/Shelves/SetShelves',
                        type: 'post',
                        data: { sku: sku, desc: desc, price: price },
                        success: function () {
                            alert("上架成功！");
                            window.location.reload();
                        },
                        error: function () {
                            alert("上架失败")
                        }
                    });
                });
                $('.selectTuHead .detail-option').bind($.clickAction, function () {

                    var skuColor = $(this).attr("id").replace('temp', ''); //ColorSKU 不包含尺码
                    var shangpinId = $('#shangpinid').val(); //商品Id
                    window.location = window.location.origin + "/Shelves/SelectImage?ShangPinId=" + shangpinId + "&ImgKey=" + skuColor;
                });
                $('#tupiankuId').bind($.clickAction, function () {
                    var shangpinId = $('#shangpinid').val(); //商品Id
                    window.location = window.location.origin + "/Shelves/UploadImage?ShangPinId=" + shangpinId;

                });
                /*全部上架*/
                $('#addAllcart').bind($.clickAction, function () {
                    var shangjia = $('li .btn-shangjia');
                    var data = [];
                    $.each(shangjia, function (key, value) {
                        /*描述*/
                        var desc = $('#titleDescId').val();
                        /*sku*/
                        var sku = $(this).attr('sku');
                        /*价格*/
                        var id = "p-" + sku;
                        var price = $('#' + id).val();
                        if (!price) {
                            var errorMsg = $(this).attr("errormsg");
                            alert("请填写" + errorMsg + "的上架价格！");
                            return;
                        }
                        data.push({ desc: desc, sku: sku, price: price });
                    });
                    if (data.length == 0) {
                        alert('没有要上架的产品！');
                        return;
                    }
                    $.ajax({
                        url: '/Shelves/SetAllShelves',
                        type: 'post',
                        data: { data: JSON.stringify(data) },
                        success: function () {
                            alert("上架成功！");
                            window.location.reload();
                        },
                        error: function () {
                            alert("上架失败")
                        }
                    });
                });
                /*全部下架*/
                $('#addAllxiacart').bind($.clickAction, function () {
                    var shangjia = $('li .btn-shangjia');
                    var data = [];
                    $.each(shangjia, function (key, value) {
                        /*sku*/
                        var sku = $(this).attr('sku');
                        data.push(sku);
                    });
                    $.ajax({
                        url: '/Shelves/SetDownShelves',
                        type: 'post',
                        data: { data: data.join(',') },
                        success: function () {
                            alert("下架成功！");
                            window.location.reload();
                        },
                        error: function () {
                            alert("下架失败")
                        }
                    });
                });
                /*下架*/
                $('li .btn-xiajia').on($.clickAction, function () {
                    var sku = $(this).attr('sku');
                    $.ajax({
                        url: '/Shelves/SetDownShelves',
                        type: 'post',
                        data: { data: sku },
                        success: function (data, at) {
                            alert("下架成功！");
                            window.location.reload();
                        },
                        error: function () {
                            alert("下架失败")
                        }
                    });
                });
            });
         
        </script>
        

    </head>
    <body>
        <input type="hidden" id="shangpinid" value="@ViewData["shangpinid"]"/>
        <input type="hidden" id="mendianid" value="@ViewData["mendianid"]"/>
        @Html.Partial("_HeaderTypical", new ViewDataDictionary { { "title", "商品分类" } })
        <div id="wrapper">
	        <div id="scroller" class="bt-category">
                <ul style="padding-bottom:32px">
                    <li id="tupianLi" class="info-detail">
                        <div class="info">
                            <a id="tupiankuId" href="#">
                                <span class="text" style="color:Black">图片库</span>
                            </a>
                            <span class="menu-botton-arrow"></span>
                        </div>
                  
                    </li>
                    <li class="bg-skape"></li>
                    <li>
                        <div class="info">
                            <div class="info splitLine">
                            <a href="javascript:void(0)" style="padding-left:0px">
                                <span class="text" style="color: #333;">商品描述</span>
                            </a>
                        </div>
                        <p class="detail-title" id="title"><span><textarea rows="3" id="titleDescId" cols="20" title="请填写描述" style="width: 90%;margin: 5px;">@ViewData["goodsDesc"]</textarea> </span></p>
                        </div>
                    </li>
                     
                    <li class="bg-skape"></li>  
                     @{
                        var listSKU= (List<DataModel.Goods.GoodsShelvesDto>)ViewData["GoodsSKUS"];
                        foreach (var item in listSKU)
                        {
                            var refid = "temp-" + item.SKU;
                            var shangjiaid = "shangjia#" + item.SKU;
                            var xiajiaid = "xiajiaid#" + item.SKU;
                            var bUp = "none"; var bDown = "none";
                            if(item.IsShangJia==1){
                                bDown  = "block";
                            }else{
                                bUp = "block";
                            }
                            <li class="info-detail selector">
                                                                                                                                                                                                                                        <div class="info border-b-none">
                        <a class="btn-switch on" href="javascript:void(0)"  refid="@refid">
				            <span class="s-block">
                                <span class="title12">SKU：</span>
                                <span class="content"><span class="to-text3" id="sh-color" data-id="@item.SKU">@item.Yanse&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.ChiMa</span></span>
                                <span class="icon-arr"></span>
                            </span>
                        </a>
                        <div class="detail-option" id="@refid" style="display:block">
                             <div class="info splitLine">
                                <a href="javascript:void(0)" style="padding-bottom: 10px;padding-top: 10px;">
                                    <span class="text">价格</span>
                                    <input type="text" id="p-@item.SKU" value="@item.Price"  style="width: 70%;line-height: 25px;margin-left: 20px;"/>
                                </a>
                            </div>
                            
                            <div class="info splitLine" style="line-height: 2em;text-align: center;">
                                <a id="@shangjiaid" sku="@item.SKU" errorMsg="&nbsp; @item.Yanse &nbsp;@item.ChiMa  &nbsp;" class="btn-shangjia" style="display:@bUp"><span></span>上架</a>
                                <a id="@xiajiaid" sku="@item.SKU" errorMsg="&nbsp; @item.Yanse &nbsp;@item.ChiMa  &nbsp;" class="btn-xiajia" style="display:@bDown"><span></span>下架</a>
                            </div>
                        </div>
                     </div>    
                            </li>
                            <li class="bg-skape"></li>  
                        }
                    }

                    @{
                        var listColorSKU = (List<DataModel.Goods.GoodsShelvesDto>)ViewData["ColorSKUS"];
                        foreach (var item in listColorSKU)
                        {
                            var temp2 = "temp" + item.SKU;
                            <li class="info-detail selector selectTuHead">
                                <div class="info border-b-none">
                                <a class="btn-switch bt-on" href="javascript:void(0)" refid="@temp2">
				                    <span class="s-block">
                                        <span class="title12">颜色：</span>
                                        <span class="content"><span class="to-text3" id="sh-color" data-id="@item.SKU">@item.Yanse</span></span>
                                        <span class="icon-arr"></span>
                                    </span>
                                </a>
                                <div class="detail-option" id="@temp2" style="display:block">
                                    <div class="info">
                                    <a href="javascript:void(0)">
                                        <span class="text">显示图片</span>
                            
                                    </a>
                                    <span class="menu-botton-arrow"></span>
                                    </div>
                                </div>
                             </div>    
                            </li>
                            <li class="bg-skape"></li>
                        }
                    }
                  
                </ul>

            </div>
            <div class="tbl-type btns">
                <div class="tbl-cell">                    
                <a id="addAllcart" class="btn-acart"><span></span>全部上架</a>
                </div>
                 <div class="tbl-cell">                    
                <a id="addAllxiacart" class="btn-dbuy"><span></span>全部下架</a>
                </div>
            </div>
        </div>
    </body>
</html>
