@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <script src="../../Scripts/qsm-mui/iscroll.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto-1.1.4.min.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>
        <link href="../../Content/StorageIn.css" rel="stylesheet" type="text/css" />
        <script src="../../Scripts/json2.js" type="text/javascript"></script>
        <style type="text/css">
            .datebox{
                font: -webkit-small-control;
                color: initial;
                letter-spacing: normal;
                height: 30px;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                text-shadow: none;
                display: inline-block;
                font-size: 20px;
                text-align: start;
            }
        </style>
        <link href="../../Scripts/qsm-mui/qsmart-mui.css" rel="stylesheet" type="text/css" />
        <script src="../../Scripts/numeralInput.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/qsmart-mui-combox-1.0.0.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.i-a-back').on($.clickAction, function () { window.history.back(-1); });
                $('.i-a-bh').on('click', function () {
                    var tg = $('.i-bh-tab');
                    if (tg.hasClass('on')) {
                        tg.removeClass('on');
                    }
                    else {
                        tg.addClass('on');
                    }
                });
                $('.btn-switch').on($.clickAction, function () {
                    var me = $(this);
                    var refId = me.attr('refId');
                    if (me.hasClass('on')) {
                        me.removeClass('on');
                        $('#' + refId).hide();
                    }
                    else {
                        me.addClass('on');
                        $('#' + refId).show();
                    }
                });
                /*数量加减*/
                $(".new-input").numeral();
                $(".new-input").on('blur', function () {
                    var value = $(this).val();
                    if (value) {
                        value = parseInt(value);
                        if (value > 0) {
                            $(this).val(q);
                        }
                        else {
                            $(this).val("1");
                        }
                    }
                    else {
                        $(this).val("1");
                    }
                });
                $('.btn-add').on($.clickAction, function () {
                    
                    var $number = $(this).prev();
                    var value = $number.val();
                    if (value) {
                        value = parseInt(value);
                        if (value >= 0) {
                            value++;
                            $number.val(value);
                        }
                    }
                    else {
                        $number.val("1");
                    }
                });
                $('.btn-del').on($.clickAction, function () {
                    
                    var $number = $(this).next();
                    var value = $number.val();
                    if (value) {
                        value = parseInt(value);
                        if (value > 1) {
                            value--;
                            $number.val(value);
                        }
                    }
                    else {
                        $number.val("1");
                    }
                });
            });
           
        </script>
        <script src="../../Content/mobiscroll-master/js/mobiscroll.zepto.js" type="text/javascript"></script>
        <script src="../../Content/mobiscroll-master/js/mobiscroll.core.js"  type="text/javascript"></script>
        <script src="../../Content/mobiscroll-master/js/mobiscroll.scroller.js" type="text/javascript"></script>
        <script src="../../Content/mobiscroll-master/js/mobiscroll.datetime.js" type="text/javascript"></script>
        <script src="../../Content/mobiscroll-master/js/mobiscroll.select.js" type="text/javascript"></script>
        <script src="../../Content/mobiscroll-master/js/mobiscroll.scroller.wp.js" type="text/javascript"></script>
        <script src="../../Content/mobiscroll-master/js/i18n/mobiscroll.i18n.zh.js" type="text/javascript"></script>
        <link href="../../Content/mobiscroll-master/css/mobiscroll.icons.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/mobiscroll-master/css/mobiscroll.scroller.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/mobiscroll-master/css/mobiscroll.scroller.wp.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/mobiscroll-master/css/mobiscroll.animation.css" rel="stylesheet" type="text/css" />
<script>
    var cb1 = {};
    $(function () {

        var curr = new Date().getFullYear();

        $('#test').scroller('destroy').scroller({
            theme: 'wp light',
            preset: 'date',
            mode: 'scroller',
            lang: 'zh',
            dateFormat: 'yy-mm-dd',
            setText: '确定', //确认按钮名称
            cancelText: '取消', //取消按钮名籍我
            display: 'modal',
            dateOrder: 'yymmdd',
            animate: 'swing'
        });
        $('#test').hide();
        $('#test').show();
        $('.select-btn').bind($.clickAction, function () {
            
            var refId = $(this).attr('refId');
            cb1 = new QsmartCombox(refId, { title: '货位信息', displaycolumn: ['Name'], dataurl: '/StorageIn/GetHuoWei', idcolumn: 'Id', columns: ['Id', 'Name'], pagesize: 20 }, refId); //, filtertext: '17', filters: ['DocNum'] 
            $('#' + refId).trigger($.clickAction);
        });
        //保存入库单
        $('#addcart').bind($.clickAction, function () {
            var detail = [];
            var data = $('.info-detail.selector');
            $.each(data, function (index, item) {
                var store = {};
                store.Color = $(this).find('.to-text3').text();
                store.ColorId = $(this).find('.to-text3').data('id');
                var sizes = $(this).find('.option-section');
                $.each(sizes, function (index1, item1) {
                    store.SizeId = $(this).find('.titlef1').data('id');
                    store.Size = $(this).find('.titlef1').text();
                    store.Num = $(this).find('.new-input').val();
                    store.HWId = $(this).find('.huwei').data('id');
                })
                detail.push(store);
            });
            $.ajax({
                type: 'post',
                data: { detail: JSON.stringify(detail) },
                url: '/StorageIn/SaveStorageIn',
                suceess: function () { 
                    
                }
            })
        });
    });
 
</script>
<style>
  .select-btn {
    padding-right: 16px;
    width: 97px;
    margin-right: 13px;
    height: 32px;
    line-height: 32px;
    border-width: 1px;
    background-image: url(../../Content/images/datetab_filter_bg.png);
    background-position: -1px -292px;
    color: #4d5873;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border:1px solid #d0cece;
    display: inline-block;
    background-color: buttonface;
        box-sizing: border-box;
    }
    .huwei
    {
        display: inline;
        font-size: 18px;    
    }
</style>
    </head>
  <body>
    <header>
        <div class="i-bh-header">
            <a href="javascript:void(0);" class="i-a-back"><span>返回</span></a>
            <h2>入库单</h2>
            <a href="javascript:void(0);" class="i-a-bh"><span>易购键</span></a>
        </div>
        <div class="i-bh-tab">
            <div class="i-tbl-type">
                <a href="#" class="i-tbl-cell">
                    <span></span>
                    <p style="color:#6e6e6e;">首页</p>
                </a>
                <a href="#" class="i-tbl-cell">
                    <span style="width:26px;background-position:0 -25px;"></span>
                    <p style="color:#6e6e6e;">分类搜索</p>
                </a>
                <a href="#" class="i-tbl-cell">
                    <span style="width:25px;background-position:-29px -25px"></span>
                    <p style="color:#6e6e6e;">购物车</p>
                </a>
                <a href="#" class="i-tbl-cell">
                    <span style="width:22px;background-position:-85px -25px"></span>
                    <p style="color:#6e6e6e;">我的易购</p>
                </a>
            </div>
        </div>
    </header>

    <div class="content">
        <ul>
            <li class="info-detail">
                <div class="info">
                    <a href="#">
                        <span class="text">日期</span>
                    </a>
                   <!-- <span class="icon-arr"></span>-->
                </div>
                <p class="detail-title" id="title"><span><input type="text" class="datebox"  id="test"/> </span></p>
            </li>
            <li class="bg-skape"></li>
            @{
                var listColor = (List<DataModel.YanSe>)ViewData["Color"];
                var flag="block";
                foreach (var item in listColor)
                {
                    var strTemp = "infodetail" + item.Id;
                     <li class="info-detail selector">
                        <div class="info border-b-none">
                        <a class="btn-switch"  refId="@strTemp">
				            <span class="s-block">
                                <span class="title12">颜色：</span>
                                <span class="content"><span class="to-text3" id="sh-color" data-id="@item.Id">@item.Name</span></span>
                                <span class="icon-arr"></span>
                            </span>
                        </a>
                        
                            <div class="detail-option" id="@strTemp" style="display:@flag;">
                          
                             @{
                                 flag="none";   
                               
                                 foreach (var item1 in ViewData["Size"] as List<DataModel.ChiMa>)
                                    {
                                        var hwId = "hw" +item.Id+"2"+item1.Id;
                                        <div class="option-section mt-10">
                                            <span class="titlef1" data-id="@item1.Id">@item1.Name</span>
                                            <span class="titlef2">
                                                <ul>
                                                    <li>
                                                        <div class="option">
                                                            <span class="add-del">
                                                                <a class="btn-del" id="minus"><span></span></a>
                                                                <input type="text" class="new-input" value="1" id="number"/>
                                                                <a class="btn-add" id="plus"><span></span></a>
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        
                                                        <input class="select-btn btn-passenger" refId="@hwId" type="button" value="选择货位" />
                                                        <div class="huwei" id="@hwId"></div>
                                                    </li>
                                                </ul>
                                                
                                            </span>
                                               
                                        </div>
                                
                                    }
                             }
                            </div>
                       
                    </div>
                    </li>
                    <li class="bg-skape"></li>
                }
                
              }
               
          
        </ul>
    </div>
    <div style="display:none">
        <input id="MainId" name="MainId" type="hidden" value=""/>
        <input id="CangkuId"  name="CangkuId" type="hidden" value="1"/>
        <input id="ShangPinId"   name="ShangPinId"  type="hidden" value="1" />

    </div>
    <div class="tbl-type btns">
        <div class="tbl-cell">                    
            <a id="addcart" class="btn-acart"><span></span>入库</a>
        </div>
    </div>
    



</body>
</html>